@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

<h2>Index</h2>

<ul>
    <li>
        <a asp-controller="Movie" asp-action="Index">Movies</a>
        <a asp-controller="Customer" asp-action="Index">Customers</a>
        <a asp-controller="Catalogue" asp-action="Index">Catalogue</a>
    </li>
</ul>